{% load static%}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}
        {% endblock %}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
		<link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
		<script src="{% static 'js/time.js' %}"></script>
        {% block headcss %}

        {% endblock %}
        {% block headjs %}

        {% endblock %}
	</head>
	{% block body %}

	{% endblock %}
    {% block foot %}

    {% endblock %}

    {% block footjs %}

    {% endblock %}
    {% block footcss %}

    {% endblock %}
</html>

